.app-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.emoji-game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.emojis-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
.game-logo {
  height: 20px;
}
