.win-loss-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  width: 100%;
  border: 3px solid #ffffff33;
  border-radius: 24px;
  margin: auto;
  padding: 16px;
}
.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
@media screen and (min-width: 992px) {
  .details-section {
    order: 0;
  }
}

.status {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.score-label {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
.result-score {
  text-align: center;
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}
.play-again-btn {
  background-color: #ffce27;
  color: #3d3d3d;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
  outline: none;
  cursor: pointer;
}
.image-section {
  display: flex;
  justify-content: center;
  order: 0;
}
.win-loss-img {
  width: 160px;
  height: 200px;
}
@media screen and (min-width: 992px) {
  .image-section {
    order: 1;
  }
  .win-loss-img {
    width: 360px;
    height: 450px;
  }
}
