.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
  width: 100%;
}
.title-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  flex-basis: 80%;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 26px;
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}
.scores-container {
  display: flex;
}
.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 50px;
  }
  .title {
    font-size: 26px;
  }
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
